<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            
           <span *ngIf="result !== null"><h1><span>Welcome {{result}} !!</span></h1><br><h3>hit the button login</h3></span>
           <!-- <div class="alert-danger"
            *ngIf="notRecognized !== null">{{notRecognized}}
            <button type="button" >x</button>
        </div> -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert"
            *ngIf="notRecognized !== null">{{notRecognized}}
            <button type="button" class="close" (click)="closeError()"data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           
               
            <div class="form-group">
                <label for="loginUsername"></label>
                <input type="text"
                    name="name" 
                    ngModel required
                    #username="ngModel" 
                    class="form-control"
                    id="loginUsername" 
                    placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" 
                    name="password" 
                    ngModel required 
                    #password="ngModel" 
                    class="form-control"
                    id="loginPassword" 
                    placeholder="Password">
            </div>
            <a routerLinkActive="router-link-active"  type="button"
             class="btn btn-primary" 
             routerLink="/reset">
                Reset Password
             </a>

            
            <button type="submit" [disabled]='f.invalid'
            (click)="sendName()"
            class="btn btn-primary">Login <i class="fa fa-sign-in"></i></button>
            
        </form>
    </div>
</div>
                            
                      