<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Register New Employer</h3>
        <div >
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <div class="form-group">
                    <label for="name">Username</label>
                    <input type="text" 
                    name="name" 
                    ngModel required 
                    #name="ngModel"
                    class="form-control" 
                    id="name" 
                    placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="registerEmail">Email</label>
                    <input type="email" 
                    name="email" 
                    ngModel required 
                    #email="ngModel" 
                    class="form-control"
                    id="registerEmail" 
                    placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input type="password" 
                    name="password" 
                    ngModel required 
                    #password="ngModel" 
                    class="form-control"
                    id="registerPassword" 
                    placeholder="Password">
                </div>
                    <button type="submit" 
                    [disabled]='f.invalid' 
                    class="btn btn-primary">Register <i class="fa fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</div>